@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter',sans-serif;
  font-weight: 400;
}
.header {
  height: 70px;
  background: #F55A5A;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.icon--globe {
  font-size: 35px;
}